body
{
    background-color: lightgoldenrodyellow;
}
nav {
    float: right;
}
#paavalikko {
    text-decoration: none;
}
#koira-juoksee {
    margin-left: auto;
    margin-right: auto;
}
#some-logo{
    margin: 2px;
}
#laatikon-otsikko{
    color: floralwhite;
}
#laatikon-teksti{
    color: floralwhite;
}
#infolaatikko{
    width: 250px;
    border-radius: 7px;
}